.input_title {
  width: 400px;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  border-width: 0;
  outline: none;
  background-color: transparent;
}

.input_title::placeholder {
  color: #707070;
  opacity: 0.68;
}

/* 카테고리 선택되면*/
.category_item.active {
  background-color: #4461f2;
  color: white;
}

.category_item {
  font-weight: bold;
  border: 2px solid #4461f2;
  color: #4461f2;
  background-color: #ffffff;
  cursor: pointer;
  padding: 5px 17px;
  border-radius: 16.5px;
  font-size: 13px;
  font-weight: bold;
  line-height: 18px;
  letter-spacing: -0.2px;
  margin-right: 9px;
  filter: drop-shadow(rgba(0, 0, 0, 0.08) 0px 1px 1px);
  text-align: center;
}

.category_item:hover {
  text-decoration: none;
}

.section {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

#categoryList {
  display: flex;
  list-style-type: none;
  padding: 0 5px;
  height: 29px;
}

#categoryList li {
  padding-bottom: 11px;
  display: inline-block;
  outline: none;
  list-style: none;
  cursor: pointer;
  color: #919ba4;
  font-size: 15px;
  letter-spacing: -0.2px;
}

.input_content {
  margin: 0px 10px;
  padding: 5px;
  width: 90px;
  border-radius: 5px;
  border: 1px solid #eee;
  outline: none;
}

.react-calendar {
  border-radius: 10px;
  border: 1px solid var(--festie-gray-400, #c8c8c8);
  font-family: "Noto Sans KR";
}

.react-calendar__navigation__label > span {
  color: var(--festie-gray-800, #3a3a3a);
  font-size: 13px;
  font-weight: 500;
  line-height: 140%;
}

.react-calendar__month-view__days__day--weekend {
  color: var(--festie-gray-800, #3a3a3a);
}

.react-calendar__tile--now {
  background: white;
  color: var(--festie-gray-800, #3a3a3a);
}

.input_post {
  font-family: "Noto Sans KR";
  width: 400px;
  height: 100px;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  border-width: 0;
  border: none;
  outline: none;
  resize: none;
  background-color: transparent;
}

.input_post::placeholder {
  color: #707070;
  opacity: 0.68;
}
